/* site.css */

html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #343a40;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

    nav ul li {
        display: inline;
        margin-right: 15px;
    }

        nav ul li a {
            color: white;
            text-decoration: none;
        }

.container {
    padding: 20px;
    flex-grow: 1; /* Allows the container to grow and fill the space */
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #343a40;
    color: white;
}
